{% extends 'recipes/base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ recipe.title }}</h2>
    <p><strong>Описание:</strong> {{ recipe.description }}</p>
    <p><strong>Инструкции:</strong> {{ recipe.instructions }}</p>
    <p><strong>Категория:</strong> {{ recipe.category }}</p>
    <p><strong>Автор:</strong> {{ recipe.author }}</p>
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="img-fluid">
    {% endif %}
    <p><strong>Время приготовления:</strong> {{ recipe.cooking_time }} минут</p>

    {% if user == recipe.author %}
        <a href="{% url 'edit_recipe' pk=recipe.pk %}" class="btn btn-primary mt-3">Редактировать</a>
    {% endif %}
</div>
{% endblock %}
